deployment.jfm.yml
.config
.ipynb_checkpoints
untitled
Untitled*.ipynb
dist
tmp
jupyterlab/labbox_ephys_widgets_jp/src/extensions

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

test_server

# python
__pycache__
*.egg-info

data

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package locks
package-lock.json
yarn.lock

# anything in kachery
kachery-storage*
