name: labbox-ephys-push-docker
on:
  push:
    tags:
      - 'v*'
jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm install
      - run: CI=false npm run build # if CI=true then warnings are treated as errors. See: https://github.com/facebook/create-react-app/issues/3657
      -
        name: Build and push image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/labbox-ephys/Dockerfile
          push: true
          tags: magland/labbox-ephys:0.4.10