name: {{ projectName }}-install-tests
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master
defaults:
  run:
    shell: bash -l {0}
jobs:
  install_jupyterlab:
    {% raw %}name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }}){% endraw %}
    {% raw %}runs-on: ${{ matrix.os }}{% endraw %}
    strategy:
      fail-fast: false
      matrix:
        # os: ["ubuntu-latest", "macos-latest"] - macos-latest not working on the node compile step: ld: library not found for -lstdc++
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: '3.8'
          activate-environment: test
      - run: python --version && conda info && conda list
      - run: pip install -e ./src/python